In [44]:
a = int(input())

1

In [45]:
print(a)

1

In [46]:
if a == 10:
  print('같음')
else:
  print('다름')

다름

In [47]:
print(10 % 3)
print(9 % 3)
print(7 % 2)

1
0
1

In [48]:
print('*' * 1)
print('*' * 2)
print('*' * 3)
print('*' * 4)
print('*' * 5)

*
**
***
****
*****

In [49]:
for i in range(3):
  print(i)

0
1
2

In [50]:
for i in [0, 1, 2]:
  print(i)

0
1
2

In [51]:
list(range(3))

[0, 1, 2]

In [52]:
for i in range(5): 
  print('*' * (i+1))
# 수도코드
# for문 : 5번 반복 (i=1~5)
#   *를 i개 만큼을 출력.

*
**
***
****
*****

In [53]:
for i in range(3, 100, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [54]:
print('*' * 3)
print('*' * 6)
print('*' * 8)
print('*' * 12)
print('*' * 15)
print('*' * 18)
print('*' * 21)

***
******
********
************
***************
******************
*********************

In [55]:
for i in range(100): 
  if i % 3 == 0 and i > 0:
    print('*' * i)

***
******
*********
************
***************
******************
*********************
************************
***************************
******************************
*********************************
************************************
***************************************
******************************************
*********************************************
************************************************
***************************************************
******************************************************
*********************************************************
************************************************************
***************************************************************
******************************************************************
*********************************************************************
************************************************************************
***************************************************************************
******************************************************************************
*********************************************************************************
************************************************************************************
***************************************************************************************
******************************************************************************************
*********************************************************************************************
************************************************************************************************
***************************************************************************************************

In [56]:
for i in range(5):
  print('*' * (5-i))

*****
****
***
**
*

In [57]:
print('for문 1.')
for i in range(5):
  print(i)

# ----------------------------------------------------------------------------

print('for문 2.') 
for i in range(0, 5):
  print(i)

print('for문 3.') 
for i in range(0, 5, 1):
  print(i)

print('for문 4.') 
for i in [0, 1, 2, 3, 4]:
  print(i)

print('for문 5.')
for i, n in enumerate(range(5)):
  print(n)

print('for문 5.')
for i, n in enumerate([0, 1, 2, 3, 4]):
  print(n)


print('while문 1.')
i = 0
while i < 5:
  i += 1
  print(i)

for문 1.
0
1
2
3
4
for문 2.
0
1
2
3
4
for문 3.
0
1
2
3
4
for문 4.
0
1
2
3
4
for문 5.
0
1
2
3
4
for문 5.
0
1
2
3
4
while문 1.
1
2
3
4
5

In [58]:
for start_time in range(0, 16, 4):
  print(start_time)
  i = int(start_time / 4)


for i, a in enumerate(range(5)):
  start_time = i * 4.0
  print(a)

0
4
8
12
0
1
2
3
4

In [59]:
# my_piano_pitch_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, ......., 127]

# my_piano_pitch_list = []
# for i in range(128):
#   my_piano_pitch_list.append(i)
# print(my_piano_pitch_list)

my_piano_pitch_list = list(range(128))
print(my_piano_pitch_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127]

In [60]:
for word in ['Apple', 'Car', 'iPhone']:
  print(word)

Apple
Car
iPhone

In [61]:
for i, word in enumerate(['Apple', 'Car', 'iPhone']):
  print(i, word)

0 Apple
1 Car
2 iPhone

In [62]:
my_list = ['Apple', 'Car', 'iPhone']
for i, word in enumerate(my_list):
  if word == 'Car':
    # my_list[i] = 'Android'
    word = 'Android'
  print(i, my_list[i])

0 Apple
1 Car
2 iPhone

In [63]:
for i in range(0, 10, 2):
  print(i)

for i in range(5):
  print(i*2)

0
2
4
6
8
0
2
4
6
8

In [64]:
import numpy
for i in numpy.arange(0, 5, 0.5):
  print(i)

0.0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

In [65]:
[]  # 리스트 인덱스 위치에 접근할때 (순서중요)
{}  # 딕셔너리 (순서x, 이름표)
()  # 함수에 값 전달

()

In [66]:
def nothing(a, b, c):
  print('a', a)
  print('b', b)
  print('c', c)

In [67]:
import random
def ralral():
  print(random.randint(1, 6))

for ral in range(10):
  ralral()

1
3
6
6
1
4
2
1
5
6

In [68]:
print((1 + 10) * 2)

22

In [69]:
some_list = []  # 정의.선언.
some_list.append(10)  # 씀

In [70]:
def something2(n1, n2):  # 정의,만듬,  n은 내가 정한 변수명
  for i in range(n1):
    print(random.randint(1, n2))
  
something2(10, 20)  # 콜!, 씀.

7
18
17
12
17
5
12
17
14
7

In [86]:
def something3(n):
    return 2*n
print(something3(1000))

None

In [71]:
my_string = '나는스트링이야'
print(my_string)

나는스트링이야

In [73]:
print(my_string[0], my_string[1], my_string[2], my_string[3], my_string[4], my_string[5], my_string[6], )

나 는 스 트 링 이 야

In [75]:
my_string2 = '?'
my_string3 = my_string + my_string2
print(my_string + my_string2)
print(my_string3)

나는스트링이야?
나는스트링이야?

In [ ]:
# 문장입력
# for 반복 i=문장끝에서부터 0까지  
#   # 한글자씩 새로운 스트링뒤에 붙여넣음

# <사용하는 문법>
# input()
# for 문
# '문자열1' + '문자열2'
# <써도되고 안써도 되고> 
# range(...) 
# len(...)
# '문자열'[i]

In [83]:
my_string = input()

# solution 1. (근본, 불편?)
empty_string = ''
for i in range(len(my_string)):
    # empty_string += my_string[len(my_string)-1-i]
    empty_string = empty_string + my_string[len(my_string)-1-i]
print('solution 1.', empty_string)

# solution 2. (응용)
empty_string = ''
for i in range(len(my_string)-1, -1, -1):
    empty_string += my_string[i]
print('solution 2.', empty_string)

# solution 3. (편안)
empty_string = ''
for i in range(len(my_string)):
    empty_string = my_string[i] + empty_string
print('solution 3.', empty_string)

# solution 4. (편안)
empty_string = ''
for char in my_string:
    empty_string = char + empty_string
print('solution 4.', empty_string)

# soltuion 5. (기발)
empty_string = ''
for i in range(len(my_string)):
    empty_string += my_string[-(i+1)]
print('solution 5.', empty_string)

거꾸로
solution 1. 로꾸거
solution 2. 로꾸거
solution 3. 로꾸거
solution 4. 로꾸거
solution 5. 로꾸거

In [ ]:
def circle(x, pi):
    return x * x * pi, 2*pi*x

result = circle(10, 3.14)

print('원의 넓이:', result[0])
print('원의 둘레:', result[1])

In [93]:
def circle(x, pi):
    return x*x*pi, 2*pi*x

area, distance = circle(10, 3.14)

print('원의 넓이:', area)
print('원의 둘레:', distance)

(314.0, 628.0)
원의 넓이: 314.0
원의 둘레: 628.0

In [113]:
math_point_list = [90, 70, 95, 55, 95]  # 리스트의 길이는 마음대로 변동 가능
A = 999
print('Before', A)
def average_point(point_list):
    print('average_point ing...', A)
    total = 0.
    for i in range(len(point_list)):
        total += point_list[i]
    return total / len(point_list)

print('수학 점수 평균', average_point(math_point_list))
print('After', A)

Before 999
average_point ing... 100
수학 점수 평균 81.0
After 999

In [97]:
i = int(input())
def a(a, b):
    return b * a * a
print(a(i, 3.14))

3
28.259999999999998

In [107]:
print(3.14 * 3 * 3)

28.259999999999998

In [105]:
print(91/2)

45.5